<div style="margin-left: 15px;">
    <ul> 
        <h3 id="demonName">{{demon.name}}</h3>
        <li>Aligment: {{demon.alignment}}</li>
        <li>Race: {{demon.race}}</li>
        <img src="{{demon.imagePath}}" alt="{{demon.name}}" style="max-width: 400px; max-height: 400px;">

        <li>Description:</li>
        <p>{{demon.info}}</p>
    </ul>
</div>
